version: '3'

services:
  web:
    container_name: dev
    build:
      context: .
      dockerfile: Dockerfile
      target: web
    env_file:
    - ./secrets/ops_app_dev.env
    volumes:
    - ./mounts/logs/:/ebs/logs/
    ports:
    - 8000:8000
    depends_on:
    - db

    command: >
      /bin/bash -c "
        while ! nc -z db 3306;
        do
          echo sleeping;
          sleep 1;
        done;
        echo Connected!;"
  db:
    container_name: db
    image: mysql/mysql-server:8.0.31
    ports:
    - 3306:3306
    env_file:
    - ./secrets/ops_mysql_dev.env
    volumes:
    - ./dbs:/var/lib/mysql --socket=/tmp/mysql.sock


  redis:
    container_name: redis
    image: redis:alpine
    command: --port 6379
    ports:
      - "6379:6379"

  celery:
    container_name: celery
    build:
      context: .
      dockerfile: Dockerfile
      target : celery
    volumes:
      - ./:/app/
    env_file:
    - ./secrets/ops_app_celery.env

    depends_on:
      - db
      - redis
      - web
      
  test:
    container_name: test
    build:
      context: .
      dockerfile: Dockerfile
      target: test
    env_file:
    - ./secrets/ops_app_test.env
    volumes:
    - .:/srv/code/dev
    - ./mounts/logs/:/ebs/logs/
