{% extends 'global_layout.html' %}
{% load static %}
{% include 'shared/components/notification-modal/notificationModalTemplate.html' %}

{% block head_body %}
<script src={% static "js/addUserToGroup.js" %}></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


{% endblock %}

{% block nav_breadcrumb %}
<nav class="flex px-8 py-6 flex-shrink-0" aria-label="Breadcrumb">
  <ol role="list" class="flex items-center space-x-4">
    <li>
      <div>
        <a href="{% url 'dashboard' %}" class="text-gray-400 hover:text-gray-500">
          <svg class="h-5 w-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true">
            <path fill-rule="evenodd"
              d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z"
              clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Home</span>
        </a>
      </div>
    </li>

    <li>
      <div class="flex items-center">
        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
          fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd" />
        </svg>
        <a href="{% url 'groupDashboard' %}"
          class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Groups</a>
      </div>
    </li>

    <li>
      <div class="flex items-center">
        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
          fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd" />
        </svg>
        <a href="{% url 'createNewGroup' %}" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Add members to group</a>
      </div>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content_body %}
{% csrf_token %}
<div class="px-4 sm:px-6 lg:px-8 h-4/5 w-full">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-2xl font-bold text-gray-900">{{groupName}}</h1>
    </div>
  </div>
  <input type="hidden" name="groupName" id="groupName" value="{{ groupName }}">
  <div class="bg-blue-50 text-blue-800  p-4 flex items-center h-12 mt-4 rounded-lg" role="alert">
    <span class="text-blue-500 mr-4 px-16px">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#60A5FA" viewBox="0 0 24 24" stroke="white" class="w-6 h-6"> <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" /> </svg>
    </span>
    <div>
      <p class="text-sm font-medium">Note - If the user is not shown in list, please ask the user to login to enigma once.</p>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 max-h-min">

    <div class="max-h-96">

      <div class="flex flex-row mt-5">
        <div class="sm:flex-auto">
          <form class="w-11/12 float:left relative">
            <label class="leading-loose text-sm font-medium">Add members</label>
            <div class="box-border shadow-sm rounded-md border border-gray-300 border-solid bg-white">
              <input id="global-search" type="search"
                class="flex-none rounded-md border-none text-gray-500 text-sm font-normal px-4 py-2 min-w-full"
                placeholder="Search by name or email ID" required>
              <div class="pointer-events-none absolute inset-y-11 right-0 flex items-center pt-2 pr-2">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
            </div>
          </form>
        </div>
        <div class="ml-auto flex items-center mt-8">
          <input type="checkbox" onclick="selectAllToggleSelection(this);"
            class="w-4 h-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:border-gray-600"
            id="selectAllUsers" name="selectAllUsers" class="ml-2">
          <label for="selectAllUsers" class="text-sm font-medium ml-1">Select All</label>
        </div>
      </div>

      <div class="h-3/4 overflow-y-scroll">
        <div class="px-4 sm:px-6 lg:px-8">
          <div class="mt-8 flex flex-col">
            <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full align-middle">
                <div class="relative overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                  <table class="min-w-full table-fixed divide-gray-300">
                    <tbody class="divide-gray-200 bg-white">
                      {% for user in users %}
                      {% if request.user.email != user.email and user.email not in group_existing_member_emails %}
                      {% if user.state == '1' %}
                      <tr id="{{ user.user.username }}-tablerow" class="hover:bg-blue-50 hover:text-blue-700 text-sm">
                        <td class="relative w-12 px-6 sm:w-16 sm:px-8">
                          <div class="absolute inset-y-0 left-0 w-0.5 hidden" id="{{ user.user.username }}-marker">
                          </div>

                          <input type="checkbox" value="{{user.email}}" username="{{user.user.username}}"
                            firstName="{{user.user.first_name}}" lastName="{{user.user.last_name}}"
                            name="selectedUserList"
                            class="absolute left-4 top-1/2 -mt-2 h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500 sm:left-6"
                            onclick="handleMemberSelection({elem: this, username: '{{ user.user.username  }}', firstName: '{{ user.user.first_name}}', lastName: '{{ user.user.last_name}}', email: '{{user.email}}'});"
                            id="{{ user.user.username  }}-checkbox"></input>
                        </td>
                        <td class="whitespace-nowrap py-4 pr-3 text-sm font-normal text-gray-900"
                          value="{{ user.user.username }}" id="{{ user.user.username }}-tabledesc">
                          {{user.user.first_name}} {{user.user.last_name}} {{user.email }}</td>
                      </tr>
                      {% endif %}
                      {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="max-h-96">
      <div class="flex flex-col mt-14 ml-4 h-[20.2rem]">
        <div class="flex flex-row items-center">
          <h1 class="text-lg font-medium text-gray-900">All group members</h1>
          <span
            class="inline-flex items-center rounded-full bg-green-100 ml-4 px-2.5 py-0.5 text-xs font-medium text-green-800 hidden"
            id="member-selected-count">0 selected</span>
        </div>

        <div class="min-y-full w-full bg-white mt-7 flex flex-1 md:flex-col md:flex"
          id="member-selection-list">
          <div class="flex-1 relative overflow-auto max-h-[12rem] space-y-1 inline-block min-w-full align-middle">
            <input type="hidden" name="groupMembers" id="groupMembers" value="{{groupMembers}}">
            <table class="min-w-full table-fixed divide-gray-300">
              <tbody class="divide-gray-200 bg-white" id="member-selection-table">
                
                {% for member in groupMembers %}
                <tr id="{{ user.user.username }}-tablerow">
                  <td class="whitespace-nowrap py-4 pr-3 pl-4 text-sm font-normal text-gray-900"
                    value="{{ user.user.username }}" id="{{ user.user.username }}-tabledesc">
                    {{member.user.first_name}} {{member.user.last_name}}</td>
                </tr>

                {% endfor %}

              </tbody>
            </table>
          </div>
          <nav
            class="flex flex-shrink-0 px-4 items-center justify-between align-bottom border-t border-gray-200 bg-white pt-4 pb-4 sticky hidden">
            <button type="button"
              class="inline-flex items-center rounded-md border border-transparent bg-blue-100 px-4 py-2 text-base font-medium text-sm text-blue-700 shadow-sm hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 sticky"
              onclick="removeAllMembers();">
              Remove all new
            </button>
          </nav>
        </div>
      </div>

    </div>

  </div>

  <div>
    <div>

      <div class="mt-2 flex flex-col">
        <label class="leading-loose text-sm font-medium">Reason for access</label>
        <input type="text" id="memberReason" name="memberReason"
          class="w-30 h-42 px-4 py-2 border-2 rounded-lg border-gray-200 focus:outline-none focus:border-yellow-500"
          placeholder="Please mention the reason for adding new members this group" required>
        <p id="invalidGroupReason" class="text-sm text-red-600 hidden mt-1"> This field can't be empty</p>
      </div>

    </div>


    <div>
      <button type="submit" id="submitGroupMembers"
        class="items-center rounded-md border border-transparent w-[8.5rem] bg-blue-600 mt-8 px-4 py-2  font-medium text-sm text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
        Submit request
      </button>

    </div>
  </div>

</div>
<table class="hidden">
  <tr id="member-selection-row-template" class="hidden max-h-4 px-6 hover:bg-blue-50 hover:text-blue-700">
    <td class="relative w-full px-4 text-sm font-semibold" id="member-selection-row-tabledesc">Member Desc</td>
    <td class="whitespace-nowrap px-4 py-4 text-sm font-medium justify-right content-right max-w-2"
      id="member-selection-row-cancel">
      <button type="button"
        class="ml-0.5 mr-0.5 inline-flex max-w-2 flex-shrink-0 items-center justify-center rounded-full focus:bg-blue-500 focus:text-white focus:outline-none"
        onclick="removeMemberSelectionUI(this);">
        <span class="sr-only">Remove large option</span>
        <svg class="h-2 w-2" stroke="currentColor" fill="none" viewBox="0 0 8 8">
          <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7" />
        </svg>
      </button>
    </td>
  </tr>
</table>

<script>
  $(document).ready(function() {
    var error = "{{ error|safe|escapejs}}"
    if (error){
      var errorData = JSON.parse(error);
      showNotificiation("failed", errorData.msg, errorData.title);
      $('#submitGroupMembers').prop('disabled', true);
    }
  });


  // $(document).ready(function() {
    // var members = "{{ groupMembers }}"
    // console.log("members",typeof members[0].user.first_name)

    // if (members){
    //   console.log( members)
    //   var array = members.split(",");
    //   console.log(array)
    //   console.log(typeof array)
    //   console.log(array[0].user)
      
      // addMemberSelection()
  //   }
  // });
  </script>

{% include 'BSOps/shared/components/notification-modal/notificationModalTemplate.html' %}

{% endblock %}
