{% extends 'global_layout.html' %}
{% load static %}

{% block content_body %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="{% static "css/theme.bootstrap_4.css" %}">

<script src="{% static "js/jquery.tablesorter.js" %}"></script>
<script src="{% static "js/jquery.tablesorter.widgets.js" %}"></script>
<script src="{% static "js/jquery.tablesorter.pager.js" %}"></script>

<!-- <link rel="stylesheet" type="text/css" href="{% static "files/css/custom.css" %}"> -->

<style id="css">

  table.hover-highlight td:before,
  table.focus-highlight td:before {
    background: #fff;
  }

  body {
    overflow: visible;
  }

  a.lia {
    color: white !important;
  }

  select.tablesorter-filter {
    display: block;
  }

  input[type='search'].tablesorter-filter {
    background: white;
  }

  .col.s12 {
    padding: 0px;
  }
</style>

<script id="js">
$(function() {

  $("table").tablesorter({
    theme : "bootstrap",

    widthFixed: true,

    // widget code contained in the jquery.tablesorter.widgets.js file
    // use the zebra stripe widget if you plan on hiding any rows (filter widget)
    // the uitheme widget is NOT REQUIRED!
    widgets : [ "filter", "columns" ],
    widgetOptions : {
      // using the default zebra striping class name, so it actually isn't included in the theme variable above
      // this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
      zebra : ["even", "odd"],
      // class names added to columns when sorted
      columns: [ "primary", "secondary", "tertiary" ],
      // reset filters button
      filter_reset : ".reset",
      // extra css class name (string or array) added to the filter element (input or select)
      filter_cssFilter: [
        'form-control',
        'form-control',
        'form-control custom-select', // select needs custom class names :(
        'form-control',
        'form-control',
        'form-control',
        'form-control'
      ]

    }
  })
  .tablesorterPager({

    // target the pager markup - see the HTML block below
    container: $(".ts-pager"),

    // target the pager page select dropdown - choose a page
    cssGoto  : ".pagenum",

    // remove rows from the table to speed up the sort of large tables.
    // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
    removeRows: false,

    // output string - default is '{page}/{totalPages}';
    // possible variables: {page}, {totalPages}, {filteredPages}, {startRow}, {endRow}, {filteredRows} and {totalRows}
    output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'

  });

});
</script>

<div class="page-header">
  <div class="container-fluid">
    <h2 class="h5 no-margin-bottom">My Access</h2>
  </div>
</div>
<section class="no-padding-top no-padding-bottom">
  <div class="container-fluid">
    <div class="row">
        <div class="wrapper col-sm-5" style="text-align:center; margin:3%; margin-top: 0; margin-bottom: 0; display: grid; align-content: center; float:left">
            <div class="statistic-block block">
                <button class="btn btn-primary col-sm-9" data-toggle="modal" onclick="window.location='/access/showAccessHistory'" style="cursor: pointer;"><i class="fa fa-history nav-icon" style="font-size:18px"></i>&nbspAccess History</button>
            </div>
        </div>
        <div class="wrapper col-sm-5" style="text-align:center; margin:3%; margin-top: 0; float:left">
          <div class="row">
            <div class="col-md-4 col-sm-8">
              <div class="statistic-block block">
                <div class="progress-details d-flex align-items-end justify-content-between">
                  <div class="title">
                    <div class="icon"><i class="fab fa-github" style="font-size:36px;color: #1AC98E;"></i></div><strong>Github</strong>
                  </div>
                  <div class="number dashtext-2">{{gitCount}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-8">
              <div class="statistic-block block">
                <div class="progress-details d-flex align-items-end justify-content-between">
                  <div class="title">
                    <div class="icon"><i class="fab fa-expeditedssl" style="font-size:36px;color: #1AC98E;"></i></div><strong>SSH</strong>
                  </div>
                  <div class="number dashtext-2">{{sshMachineCount}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-8">
              <div class="statistic-block block">
                <div class="progress-details d-flex align-items-end justify-content-between">
                  <div class="title">
                    <div class="icon"><i class="fa fa-group" style="font-size:34px;color: #1AC98E;"></i></div><strong>Groups</strong>
                  </div>
                  <div class="number dashtext-2">{{groupCount}}</div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<div class="page-header">
  <div class="container-fluid">
    <h2 class="h5 no-margin-bottom"></h2>
  </div>
</div>

<div class="wrapper col-sm-5" style="text-align:center; margin:3%; margin-top: 0; float:left">
  <div class="panel-group" id="pending-accordion">
      <a data-toggle="collapse" href="#collapse11" data-parent="#pending-accordion" style="text-decoration: none;">
        <h3>Group Requests&nbsp<i class="fas fa-chevron-down"></i><div style="font-size: 10px; font-weight: lighter;">(Click to Expand)</div></h3><br>
      </a>
    <div id="collapse11" class="panel-collapse collapse">
      {% if groups %}
        <div class="statistic-block block">
            <button class="btn btn-primary col-sm-9" data-toggle="modal" data-target="#groupAccess" style="cursor: pointer;"><i class="fas fa-users-cog" style="font-size:18px"></i>&nbspGroup Access Request</button>
        </div>
        <div class="statistic-block block">
            <button class="btn btn-primary col-sm-9" data-toggle="modal" data-target="#newGroupMember" style="cursor: pointer;"><i class="fas fa-user-plus" style="font-size:18px"></i>&nbspAdd Member to Group</button>
        </div>
      {% endif %}
      <div class="statistic-block block">
        <button class="btn btn-primary col-sm-9" style="cursor: pointer;" onclick="window.location='/group/create'"><i class="fas fa-users nav-icon" style="font-size:18px"></i>&nbspCreate New Group</button>
      </div>
    </div>
  </div>
</div>

<div class="wrapper col-sm-5" style="text-align:center; margin:3%; margin-top: 0; float:right">
  <div class="panel-group" id="pending-accordion">
      <a data-toggle="collapse" href="#collapse12" data-parent="#pending-accordion" style="text-decoration: none;">
        <h3>Resource Creation Requests&nbsp<i class="fas fa-chevron-down"></i><div style="font-size: 10px; font-weight: lighter;">(Click to Expand)</div></h3><br>
      </a>
    <div id="collapse12" class="panel-collapse collapse">
      <div class="statistic-block block">
          <button class="btn btn-primary col-sm-9" data-toggle="modal" data-target="#myAccess" style="cursor: pointer;"><i class="fa icon-list nav-icon" style="font-size:18px"></i>&nbspModule Access Request</button>
      </div>
    </div>
    <div id="collapse12" class="panel-collapse collapse">
      <div class="statistic-block block">
          <button class="btn btn-primary col-sm-9" style="cursor: pointer;" onclick="window.location='/github/requestRepo'"><i class="fab fa-github" style="font-size:18px;"></i>&nbspGithub Repo Creation</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
