{% extends 'global_layout.html' %}
{% load static %}
{% block content_body %}

<!-- <link rel="stylesheet" type="text/css" href="{% static "css/theme.materialize.css" %}"> -->
<link rel="stylesheet" type="text/css" href="{% static "css/theme.bootstrap_4.css" %}">
<script src="{% static "js/jquery.tablesorter.js" %}"></script>
<script src="{% static "js/jquery.tablesorter.widgets.js" %}"></script>

<link rel="stylesheet" type="text/css" href="{% static "css/jquery.tablesorter.pager.css" %}">
<script src="{% static "js/jquery.tablesorter.pager.js" %}"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href={% static "files/css/group_list.css" %}>

<div class="page-header">
  <div class="container-fluid">
    <h2 class="h2 no-margin-bottom">Group Access List</h2>
  </div>
</div>

<div class="wrapper">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#users">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#genericAcceses">Access List</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    {% include "BSOps/group_access_list_tabs/users_list_tab.html" %}
    {% include "BSOps/group_access_list_tabs/generic_accesses_tab.html" %}
  </div>
</div>
{% endblock %}
