{% extends 'global_layout.html' %}
{% load static %}

{% block head_body %}
<script src={% static "js/pendingRequests.js" %}></script>
{% endblock %}

{% block content_body %}

<div aria-live="assertive" id="notification_bar" class="hidden pointer-events-none z-10 fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6">
  <div class="flex w-full flex-col items-center space-y-4 sm:items-end">
    <div class="pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5">
      <div class="p-4">
        <div class="flex items-start">
          <div class="flex-shrink-0">
						<div class="notification_success hidden">
							<svg class="h-6 w-6 text-green-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
								<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
							</svg>
						</div>
						<div class="notification_fail hidden">
							<svg xmlns="http://www.w3.org/2000/svg" class="fill-current text-red-600" height="24px" viewBox="0 0 24 24" width="24px" fill="none"><path d="M0 0h24v24H0z" fill="none"/>
								<path d="M14.59 8L12 10.59 9.41 8 8 9.41 10.59 12 8 14.59 9.41 16 12 13.41 14.59 16 16 14.59 13.41 12 16 9.41 14.59 8zM12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
							</svg>
						</div>
          </div>
          <div class="ml-3 w-0 flex-1 pt-0.5">
            <p class="notification_message text-sm font-medium text-gray-900"></p>
          </div>
          <div class="ml-4 flex flex-shrink-0">
            <button type="button" class="inline-flex rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" onclick="closeNotification()">
              <span class="sr-only">Close</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="px-8 py-6 sm:px-6 lg:px-8 w-full">
	<div class="sm:flex sm:items-center">
		<div class="sm:flex-auto">
			<h1 class="text-2xl font-bold leading-7 text-gray-900">Pending Actions</h1>
		</div>
	</div><br>
	<div class="overflow-hidden bg-white shadow sm:rounded-md">
		<ul role="list" class="divide-y divide-gray-200">
			<li>
				<div class="relative px-4 py-4 sm:px-6">
					<input type="checkbox" id="test" class="absolute w-full h-7 opacity-0 cursor-pointer peer">
					<div class="flex">
						<div class="peer-checked:opacity-0">
							<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg>
						</div>

						<div class="px-2 peer-checked:opacity-0">
							<p class="truncate text-lg leading-7 font-medium text-grey-900">Group Access Requests</p>
						</div>
						<span class="bg-blue-100 ml-auto text-center h-6 w-8 inline-block pt-1 text-xs text-blue-600 rounded-full">{{ groupGenericRequests|length }}</span>
					</div>
					<div class="max-h-0 w-full overflow-hidden peer-checked:max-h-full">
						{% if groupGenericRequests|length %}
						<div class="divide-y divide-gray-200">
							{% for group in groupGenericRequests %}
								<div class="py-7">
									<H1 class="text-xl leading-8 font-semibold py-2">{{group.group_club_id}}</H1>
									<table class="table-auto text-left leading-5 text-sm w-7/12">
										<tr class="bg-white border-b dark:border-gray-700">
											<td class="text-gray-500 py-4">Requested for group</td>
											<td class="text-gray-700 py-4">{{ group.groupName }}</td>
										</tr>
										<tr class="bg-white border-b dark:border-gray-700">
											<td class="text-gray-500 py-4">Requested by</td>
											<td class="text-gray-700 py-4">{{ group.userEmail }}</td>
										</tr>
										<tr class="bg-white border-b dark:border-gray-700">
											<td class="text-gray-500 py-4">Requested on</td>
											<td class="text-gray-700 py-4">{{ group.requested_on }}</td>
										</tr>
										<tr class="bg-white border-b dark:border-gray-700">
											<td class="text-gray-500 py-4">Approval SLA Breached</td>
											<td class="text-gray-700 py-4">{{ group.sla_breached }}</td>
										</tr>
									</table>
									{% if not group.needsAccessApprove %}
									<div class="border-b border-blue-200 bg-blue-100 px-4 py-5 my-4 rounded-md border flex w-7/12">
										<div class="pr-3"><svg class="fill-current h-6 w-6 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg></div>
										<div class="text-blue-800 text-sm"><p>Note - This group does not require approval for adding new members</p></div>
									</div>
									{% endif %}
									<p class="font-bold text-sm pt-6">Access Requested</p>
									{% for eachAccessDetails in group.accessData %}
										<div class="border-b drop-shadow-lg border-gray-200 bg-white px-4 py-5 my-4 rounded-md border flex-none w-7/12">
											<table class="table-auto text-left text-sm w-full">
												<tr class="bg-white border-b dark:border-gray-700">
													<td class="font-bold py-4">{{ eachAccessDetails.accessType }}</td>
													<td class="text-gray-600 py-4">{{ eachAccessDetails.accessCategory }}</td>
												</tr>
												<tr class="bg-white border-b dark:border-gray-700">
													<td class="text-gray-600 py-4">Reason</td>
													<td class="text-gray-600 py-4">{{ eachAccessDetails.accessReason }}</td>
												</tr>
											</table>
											<div class="text-sm pt-5">
												<button class="rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Accept</button>
												<button class="ml-3 rounded-md border border-transparent bg-blue-100 text-blue-900 px-4 py-2 text-sm font-medium" onclick="showDeclineModal()">Decline</button>
											</div>
										</div>
									{% endfor %}
								</div>
							{% endfor %}
						</div>
						{% endif %}
					</div>
				</div>
			</li>
			<li>
				<div class="relative px-4 py-4 sm:px-6">
					<input type="checkbox" id="test" class="absolute w-full h-7 opacity-0 cursor-pointer peer">
					<div class="flex">
						<div class="peer-checked:opacity-0">
							<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg>
						</div>

						<div class="px-2 peer-checked:opacity-0">
							<p class="truncate text-lg leading-7 font-medium text-grey-900">Group Creation Requests</p>
						</div>
						<span class="bg-blue-100 ml-auto text-center h-6 w-8 inline-block pt-1 text-xs text-blue-600 rounded-full">{{ newGroupPending|length }}</span>
					</div>
					<div class="max-h-0 w-full overflow-hidden peer-checked:max-h-full">
						{% if newGroupPending|length %}
						<div class="divide-y divide-gray-200">
							{% for group in newGroupPending %}
								<div class="py-7">
									<H1 class="text-xl py-2">{{group.groupRequest.group_id}}</H1>
									<table class="table-auto text-left text-sm w-7/12">
										<tr class="bg-white border-b dark:border-gray-700">
											<td class="text-gray-500 py-4">Group Name</td>
											<td class="text-gray-700 py-4">{{ group.groupRequest.name }}</td>
										</tr>
										<tr class="bg-white border-b dark:border-gray-700">
											<td class="text-gray-500 py-4">Group Description</td>
											<td class="text-gray-700 py-4">{{ group.groupRequest.description }}</td>
										</tr>
										<tr class="bg-white border-b dark:border-gray-700">
											<td class="text-gray-500 py-4">Requested by</td>
											<td class="text-gray-700 py-4">{{ group.groupRequest.requester.email }}</td>
										</tr>
										<tr class="bg-white border-b dark:border-gray-700">
											<td class="text-gray-500 py-4">Requested on</td>
											<td class="text-gray-700 py-4">{{ group.groupRequest.requested_on }}</td>
										</tr>
										<tr class="bg-white border-b dark:border-gray-700">
											<td class="text-gray-500 py-4">Initial Members</td>
											<td class="text-gray-700 py-4">{{ group.initialMembers }}</td>
										</tr>
									</table>
									<div class="border-b border-blue-200 bg-blue-100 px-4 py-5 my-4 rounded-md border flex w-7/12">
										<div class="pr-3"><svg class="fill-current h-6 w-6 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg></div>
										{% if not group.needsAccessApprove %}
										<div class="text-blue-800 text-sm"><p>Note - Further addition of users will not require permission from access_approve</p></div>
										{% else %}
										<div class="text-blue-800 text-sm"><p>Note - Further addition of users will require permission from access_approve</p></div>
										{% endif %}
									</div>
									<div class="border-b border-blue-200 bg-blue-100 px-4 py-5 my-4 rounded-md border flex w-7/12">
										<div class="pr-3"><svg class="fill-current h-6 w-6 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg></div>
										<div class="text-blue-800 text-sm"><p>Note - Initial members will be automatically added to group.</p></div>
									</div>
									<div class="text-sm pt-5">
										<button class="rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Accept</button>
										<button class="ml-3 rounded-md border border-transparent bg-blue-100 text-blue-900 px-4 py-2 text-sm font-medium">Decline</button>
									</div>
								</div>
							{% endfor %}
						</div>
						{% endif %}
					</div>
				</div>
			</li>
			<li>
				<div class="relative px-4 py-4 sm:px-6">
					<input type="checkbox" id="test" class="absolute w-full h-7 opacity-0 cursor-pointer peer">
					<div class="flex">
						<div class="peer-checked:opacity-0">
							<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg>
						</div>

						<div class="px-2 peer-checked:opacity-0">
							<p class="truncate text-lg leading-7 font-medium text-grey-900">Group Membership Addition Request</p>
						</div>
						<span class="bg-blue-100 ml-auto text-center h-6 w-8 inline-block pt-1 text-xs text-blue-600 rounded-full">{{ membershipPending|length }}</span>
					</div>
					<div class="max-h-0 w-full overflow-hidden peer-checked:max-h-full">
						{% if membershipPending|length %}
						<div class="divide-y divide-gray-200">
							{% for member in membershipPending %}
								<div class="py-7">
									<H1 class="text-xl py-2">{{member.membership_id}}</H1>
									<table class="table-auto text-left text-sm w-7/12">
										<tr class="bg-white border-b dark:border-gray-700">
											<td class="text-gray-500 py-4">Group Name</td>
											<td class="text-gray-700 py-4">{{ member.group.name }}</td>
										</tr>
										<tr class="bg-white border-b dark:border-gray-700">
											<td class="text-gray-500 py-4">New Member</td>
											<td class="text-gray-700 py-4">{{ member.user.email }}</td>
										</tr>
										<tr class="bg-white border-b dark:border-gray-700">
											<td class="text-gray-500 py-4">Requested by</td>
											<td class="text-gray-700 py-4">{{ member.requested_by.email }}</td>
										</tr>
										<tr class="bg-white border-b dark:border-gray-700">
											<td class="text-gray-500 py-4">Requested on</td>
											<td class="text-gray-700 py-4">{{ member.requested_on }}</td>
										</tr>
										<tr class="bg-white border-b dark:border-gray-700">
											<td class="text-gray-500 py-4">Reason for Request</td>
											<td class="text-gray-700 py-4">{{ member.reason }}</td>
										</tr>
									</table>
									<div class="text-sm pt-5">
										<button class="rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Accept</button>
										<button class="ml-3 rounded-md border border-transparent bg-blue-100 text-blue-900 px-4 py-2 text-sm font-medium">Decline</button>
									</div>
								</div>
							{% endfor %}
						</div>
						{% endif %}
					</div>
				</div>
			</li>
			{% for each_module in genericRequests %}
			{% if each_module.requests|length %}
			<li>
				<div class="relative px-4 py-4 sm:px-6">
					<input type="checkbox" id="test" class="absolute w-full h-7 opacity-0 cursor-pointer peer">
					<div class="flex">
						<div class="peer-checked:opacity-0">
							<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg>
						</div>

						<div class="px-2 peer-checked:opacity-0">
							<p class="truncate text-lg leading-7 font-medium text-grey-900">{{ each_module.module_tag }}</p>
						</div>
						<span class="bg-blue-100 ml-auto text-center h-6 w-8 inline-block pt-1 text-xs text-blue-600 rounded-full">{{ each_module.requests|length }}</span>
					</div>
					<div class="max-h-0 w-full overflow-hidden peer-checked:max-h-full">
						<div class="divide-y divide-gray-200">
							{% for eachRequest in each_module.requests %}
								<div class="py-7">
									<H1 class="text-xl leading-8 font-semibold py-2">{{eachRequest.club_id}}</H1>
									<table class="table-auto text-left text-sm w-7/12">
										<tr class="bg-white border-b dark:border-gray-700">
											<td class="text-gray-500 py-4">Requested by</td>
											<td classs="text-gray-700 py-4">{{ eachRequest.userEmail }}</td>
										</tr>
										<tr class="bg-white border-b dark:border-gray-700">
											<td class="text-gray-500 py-4">Requested On</td>
											<td class="text-gray-700 py-4">{{ eachRequest.requested_on }} UTC</td>
										</tr>
										<tr class="bg-white border-b dark:border-gray-700">
											<td class="text-gray-500 py-4">Approval SLA Breached</td>
											<td class="text-gray-700 py-4">{{ eachRequest.sla_breached}}</td>
										</tr>
										<tr class="bg-white border-b dark:border-gray-700">
											<td class="text-gray-500 py-4">Access type</td>
											<td class="text-gray-700 py-4">{{ eachRequest.accessType }}</td>
										</tr>
										<tr class="bg-white border-b dark:border-gray-700">
											<td class="text-gray-500 py-4">Reason for Request</td>
											<td class="text-gray-700 py-4">{{ eachRequest.accessReason }}</td>
										</tr>
									</table>
									<p class="font-bold text-sm pt-6">Accesses</p>
									{% for accessData in eachRequest.accessData %}
									<div>
										<p class="text-gray-700 text-sm pt-2">{{ accessData.accessCategory }}</p>
										<b class="text-sm pt-5">Access Metadata</b>
										<div class="border-b drop-shadow-lg border-gray-200 bg-white px-4 py-5 my-4 rounded-md border flex-none w-7/12">
											<table class="table-auto text-left text-sm w-full">
												{% for key, value in accessData.accessMeta.items %}
												<tr class="bg-white border-b dark:border-gray-700">
													<td class="text-gray-600 py-4">{{ key }}</td>
													<td class="text-gray-600 py-4">{{ value }}</td>
												</tr>
												{% endfor %}
											</table>
											<div class="text-sm pt-5">
												<button class="rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Accept</button>
												<button class="ml-3 rounded-md border border-transparent bg-blue-100 text-blue-900 px-4 py-2 text-sm font-medium">Decline</button>
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>

<div id="decline_modal" class="decline_modal relative z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
				<!-- HEADER -->
				<div class="border-b px-4 py-3 bg-gray-100 flex">
					<div class="declineHeading">
					</div>
					<div class="close_decline_modal ml-auto inline-block text-sm cursor-pointer">
						<svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
					</div>
				</div>
				<!-- HEADER END -->
				<div class="flex-row text-sm px-4 pt-4 pb-8">
					<label for="declineReason">Reason</label>
					<select id="declineReason" class="w-full text-sm rounded-md border-gray-200 mt-1 mb-5" name="reason" placeholder="--select--"
						class="ui fluid search dropdown generic-access-select-dropdown" required>
						<option selected disabled>Select</option>
						{% for key,value in declineReasons.items %}
						<option value="{{value}}">{{value}}</option>
						{% endfor %}
						<option value="customInput">Other</option>
					</select>
					<div id="otherType" style="display:none;">
						<label for="">Details</label>
						<input class="text-sm rounded-md border-gray-200 w-full mt-1" type="text" name="" id="" placeholder="Please mention the reason for request decline">
					</div>
				</div>
				<!-- FOOTER -->
				<div class="border-t w-full p-3 justify-end bg-gray-100 flex">
					<button onclick="clickDeclineFinalButton()" class="declineFinalButton rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Decline</button>
				</div>
				<!-- FOOTER END -->
			</div>
    </div>
  </div>
</div>


{% endblock %}
