/***Tab style***/
.tab {
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    max-width: 700px;
    width: 100%;
}

.tabs_item {
    display: none;
    line-height: 1.5;
    padding: 25px;
}

.tabs_item:first-child {
    display: block;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}

.tabs li {
    background: #00ffbf;
    color: black;
    cursor: pointer;
    font-size: 30px;
    padding: 25px 0;
    text-align: center;
    transition: all 0.15s linear;
}

.tabs li:hover {
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.15) inset;
}

.tabs li.current {
    background: gold;
}

footer {
    padding: 50px 0;
    text-align: center;
}
