.tab-content .tab-pane {
  max-width: 90%;
}

body{
  overflow: visible;
}

select.tablesorter-filter{
  display: block;
}

input[type='search'].tablesorter-filter{
  background: white;
}

.col.s12{
  padding: 0px;
}
