<script id="js">
  $(function() {
  $(".generic-access-table").tablesorter({
    theme : "bootstrap",
    widthFixed: true,
    widgets : [ "filter", "columns" ],
    widgetOptions : {
      zebra : ["even", "odd"],
      columns: [ "primary", "secondary", "tertiary" ],
      filter_reset : ".reset",
      filter_cssFilter: [
        'form-control',
        'form-control',
        'form-control',
        'form-control'
      ]
    }
  })
  .tablesorterPager({
    container: $(".ts-pager-generic"),
    cssGoto  : ".pagenum-generic",
    removeRows: false,
    cssPageDisplay: '.pagedisplay-generic',
    cssPageSize: '.pagesize-generic',
    output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'
  });
});

$(document).on('click', '.group-revoke-button', function(){
    id = $(this).attr("id");
    urlBuilder = "/group/markGroupAccessRevoked?requestId="+id
    $.ajax({url: urlBuilder,
        success: function(result){
          document.getElementById("inactive-"+id+"-revoke-button").innerHTML = "Access Marked Revoked";
        },
        error: function(result){
          alert("Error occured while marking revoke! - "+result["responseJSON"]["error"])
        }});
  });

  $(document).on('click', '.inactive-access-button', function(){
    id = $(this).attr("id");
    urlBuilder = "/group/markGroupAccessInactive?requestId="+id
    $.ajax({url: urlBuilder,
        success: function(result){
          document.getElementById(id+"-revoke-button").innerHTML = "Access Marked Inactive";
        },
        error: function(result){
          alert("Error occured while marking revoke! - "+result["responseJSON"]["error"])
        }});
  });
</script>
<div id="genericAcceses" class="container tab-pane fade"><br>
  {% if genericAccesses %}
  <table class="table table-bordered table-striped generic-access-table">
    <thead class="thead-dark">
      <tr>
        <th data-placeholder="Search">Access ID</th>
        <th data-placeholder="Search">Access Type</th>
        <th data-placeholder="Search">Access Category</th>
        <th data-placeholder="Search">Access Status</th>
        <th>Additional Access Details</th>
        <th>Actions (stop access grants for future requests)</th>
      </tr>
    </thead>
    <tbody>
      {% for eachAccess in genericAccesses %}
      <tr >
        <td>{{ eachAccess.requestId }}</td>
        <td>{{ eachAccess.accessType }}</td>
        <td>{{ eachAccess.accessCategory }}</td>
        <td>{{ eachAccess.status }}</td>
        <td>{{ eachAccess.accessMeta }}</td>
        <td id="inactive-{{ eachAccess.requestId }}-revoke-button">
          {% if user.is_owner %}
          <button class="btn btn-danger inactive-access-button" id="inactive-{{ eachAccess.requestId }}">Mark Inactive</button><br>(Existing accesses are not revoked)<br><br>
          {% endif %}

          {% if allowRevoke and eachAccess.status == 'Approved' %}
            <button class="btn btn-danger group-revoke-button" id="{{ eachAccess.requestId }}">Mark Revoked</button><br>(Existing accesses are marked revoked)
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr class="tablesorter-ignoreRow">
        <th colspan="4" class="ts-pager ts-pager-generic form-horizontal" style="padding:1%">
          <button type="button" class="btn btn-primary first" style="padding: 0px 30px;"><i class="small material-icons">first_page</i></button>
          <button type="button" class="btn btn-primary prev" style="padding: 0px 30px;"><i class="small material-icons">navigate_before</i></button>
          <span class="pagedisplay-generic"></span>
          <button type="button" class="btn btn-primary next" style="padding: 0px 30px;"><i class="small material-icons">navigate_next</i></button>
          <button type="button" class="btn btn-primary last" style="padding: 0px 30px;"><i class="small material-icons">last_page</i></button>
          <select class="pagesize-generic browser-default form-control col-sm-1" title="Select page size" style="display:  inherit;">
            <option selected="selected" value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
          </select>
          <select class="pagenum-generic browser-default form-control col-sm-1" title="Select page number" style="display:  inherit;"></select>
        </th>
      </tr>
    </tfoot>
  </table>
  {% else %}
  <p>No generic Accesses configured</p>
  {% endif %}
</div>
