{% load myaccess_css_helpers %}
{% load static %}

{% block head_body %}
<script src={% static "js/globalSearchMisc.js" %}></script>
<script src={% static "js/groupDetails.js" %}></script>
{% endblock %}

{% block content_body %}
<div id="genericAcceses" class="mt-8 px-4 sm:px-6 lg:px-8 w-full">
  {% if dataList %}
  <div class="flex flex-col gap-4">
    <div class="flex flex-row gap-4 items-center">
      <div>
        <div class="w-96 relative">
          <div class="box-border shadow-sm rounded-md border border-gray-300 border-solid">
            <input onkeydown="search(event, this, {'show_tab': 'accessList'})" id="global-search" type="search"
                class="flex-none rounded-md border-none text-gray-500 text-sm font-normal px-4 py-2 min-w-full"
                placeholder="Search by module name, access type or status" {% if search_value %} value="{{search_value}}" {% endif %}>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
              <svg aria-hidden="true" class="w-5 h-5 text-gray-400" fill="currentColor"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>


      <div class="w-1/6 relative dropdown-search-collapse" onclick="focusFilterStatus(this)">
        <button type="button"
          class="min-w-full cursor-default rounded-md border
                                            border-gray-300 bg-white px-4 py-2 text-left shadow-sm focus:border-blue-500
                                            focus:outline-none focus:ring-1 focus:ring-blue-500 sm:text-sm"
          aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
          <span class="block truncate text-gray-500">Access Type</span>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24" fill="#000000" aria-hidden="true">
              <path d="M0 0h24v24H0z" fill="none" />
              <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" clip-rule="evenodd" />
            </svg>
          </div>
        </button>

        <ul
          class="min-w-full hidden absolute right-0 origin-top-right z-10 mt-1 max-h-60 rounded-md bg-white py-1 text-base shadow-lg ring-1
                  ring-black ring-opacity-5 focus:outline-none sm:text-sm"
          tabindex="-1" role="listbox" aria-labelledby="listbox-label"
          aria-activedescendant="listbox-option-3">
          {% for filter in accessTypeFilter.selected %}
            <li
              class="text-gray-900 relative cursor-default select-none px-4 py-2 hover:bg-gray-200 hover:text-black"
              id="listbox-option-0" role="option" onclick="select_filter(this, {'show_tab': 'accessList'})">
              <input type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" id="group_{{filter}}" name="group_{{filter}}" value="{{filter}}" param="accessType" onclick="select_filter_check(this, {'show_tab': 'accessList'})" checked>
              <label for="group_{{filter}}">{{filter}}</label>
            </li>
            {% endfor %}
            {% for filter in accessTypeFilter.notSelected %}
            <li
              class="text-gray-900 relative cursor-default select-none px-4 py-2 hover:bg-gray-200 hover:text-black"
              id="listbox-option-0" role="option" onclick="select_filter(this, {'show_tab': 'accessList'})">
              <input type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" id="group_{{filter}}" name="group_{{filter}}" value="{{filter}}" param="accessType" onclick="select_filter_check(this, {'show_tab': 'accessList'})">
              <label for="group_{{filter}}">{{filter}}</label>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="w-1/6 float-right relative dropdown-search-collapse" onclick="focusFilterStatus(this);">
        <button type="button"
          class="min-w-full cursor-default rounded-md border
                                      border-gray-300 bg-white px-4 py-2 text-left shadow-sm focus:border-blue-500
                                      focus:outline-none focus:ring-1 focus:ring-blue-500 sm:text-sm"
          aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
          <span class="block truncate text-gray-500">Status</span>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24" fill="#000000" aria-hidden="true">
              <path d="M0 0h24v24H0z" fill="none" />
              <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" clip-rule="evenodd" />
            </svg>
          </div>
        </button>

        <ul
          class="min-w-full hidden absolute z-10 mt-1 max-h-60 rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
          tabindex="-1" role="listbox" aria-labelledby="listbox-label"
          aria-activedescendant="listbox-option-3">
          {% for filter in statusFilter.selected %}
          <li
            class="text-gray-900 relative cursor-default select-none px-4 py-2 hover:bg-gray-200 hover:text-black"
            id="listbox-option-0" role="option" onclick="select_filter(this)">
            <input type="checkbox" onclick="select_filter_check(this, {'show_tab': 'accessList'})" param="status" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" id="group_{{filter}}" name="group_{{filter}}" value="{{filter}}" checked>
            <label for="group_{{filter}}">{{filter}}</label>
          </li>
          {% endfor %}
          {% for filter in statusFilter.notSelected %}
          <li
            class="text-gray-900 relative cursor-default select-none px-4 py-2 hover:bg-gray-200 hover:text-black"
            id="listbox-option-0" role="option" onclick="select_filter(this)">
            <input type="checkbox" onclick="select_filter_check(this, {'show_tab': 'accessList'})" param="status" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" id="group_{{filter}}" name="group_{{filter}}" value="{{filter}}">
            <label for="group_{{filter}}">{{filter}}</label>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="sm:ml-auto sm:flex-none">
        <a href="{% url 'newAccessGroupRequest'%}?groupName={{groupName}}" class="text-blue-600 hover:text-blue-900">
          {% csrf_token %}
          <button type="button"
            class="inline-flex items-center justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:w-auto">
            Request Access
          </button>
        </a>
      </div>
    </div>
  </div>

  {% if search_error %}
  <div class="mt-5 rounded-md bg-yellow-50 p-4">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium text-yellow-800">No exact match found</h3>
        <div class="mt-2 text-sm text-yellow-700">
          <p>{{search_error}}</p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div>
    <div class="mt-4 flex flex-col">
      <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
          <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5">
            <table class="min-w-full divide-y divide-gray-300">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col"
                    class="py-3.5 pl-4 pr-3 text-left text-xs font-medium text-gray-500 sm:pl-6 uppercase w-2/12">
                    Module</th>
                  <th scope="col"
                    class="px-3 py-3.5 text-left text-xs font-medium text-gray-500 uppercase w-2/12">
                    Status</th>
                  <th scope="col"
                    class="px-3 py-3.5 text-left text-xs font-medium text-gray-500 uppercase w-2/12 max-w-md">
                    Type of Access</th>
                  <th scope="col"
                    class="px-3 py-3.5 text-left text-xs font-medium text-gray-500 uppercase w-3/12">
                    Access Category</th>
                  <th scope="col"
                    class="px-3 py-3.5 text-left text-xs font-medium text-gray-500 uppercase w-2/12">
                    Action</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                {% for eachAccess in dataList %}
                <tr data-status-1="{{ eachAccess.accessType }}" data-status-2="{{ eachAccess.status }}"
                {% if forloop.counter|divisibleby:2 %}class="bg-gray-50" {% endif %}>
                  <td class="whitespace-nowrap px-3 py-4 text-sm">
                    <div class="text-gray-900 font-medium">{{ eachAccess.module }}</div>
                    <div class="text-gray-400 font-normal">{{ eachAccess.requestId }}</div>
                  </td>
                  <td status_id="access-status-{{ eachAccess.requestId }}" class="whitespace-nowrap px-3 py-4 text-sm font-normal text-gray-500">
                    <div status="{{eachAccess.status}}">{% access_status_content eachAccess.status|safe %}</div>
                    <div status="Revoked" hidden >{% access_status_content 'Revoked'|safe %}</div>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm font-normal text-gray-500">
                    {{ eachAccess.accessType }}
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm font-normal text-gray-500">
                    {{ eachAccess.accessCategory }}
                  </td>
                  <td revoke_button_id="inactive-{{ eachAccess.requestId }}-revoke-button"
                    class="whitespace-nowrap px-3 py-4 text-sm font-normal text-gray-500">

                    {% if allowRevoke %}
                    <button type="button" onclick="markRevoked(this)"
                      class="inline-flex items-center justify-center rounded-md border border-transparent bg-blue-100 px-4 py-2 text-sm font-medium text-blue-700 shadow-sm hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 sm:w-auto group-revoke-button" id="{{ eachAccess.requestId }}">
                      Mark Revoked
                    </button>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="mt-8 w-full box-border rounded-md border border-gray-200 bg-white">
    <div class="flex h-64 justify-center items-center">
      <div class="flex flex-col place-items-center gap-2">
        <div class="flex flex-row text-gray-400 hover:text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 0 24 24" width="40px"
            fill="currentColor">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
          </svg>
        </div>
        <div>
          <h1 class="text-sm font-medium text-gray-900">No Module</h1>
        </div>
        <div>
          <h1 class="text-sm font-normal text-gray-700">No module added to this group. Request module access to get started.</h1>
        </div>
        <div class="mt-6 place-items-center">
          <a href="{% url 'newAccessGroupRequest'%}?groupName={{groupName}}">
            <button type="button" class="box-border border border-gray-300
                                        px-4 py-2 text-sm font-medium shadow-sm rounded-md
                                        sm:w-auto">
              Request Access
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if dataList %}
  <nav
    class="mt-8 flex items-center justify-between border-t border-gray-200 sm:px-0 pt-6 px-4 sm:px-6 lg:px-8 pb-6 w-full">
    <div class="-mt-px flex w-0 flex-1">
      {% if currentPagination > 1 %}
      <a onclick="change_page('{{ currentPagination }}', -1, {'show_tab': 'accessList'})"
        class="inline-flex items-center border-t-2 border-transparent pt-4 pr-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
        <svg class="mr-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
          fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd"
            d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z"
            clip-rule="evenodd" />
        </svg>
        Previous
      </a>
      {% endif %}
    </div>

    <div class="hidden md:-mt-px md:flex">
      {% for navIter in allPages %}
      <a onclick="change_page('{{ navIter }}', null, {'show_tab': 'accessList'})"
        class="inline-flex items-center border-t-2 px-4 pt-4 text-sm font-medium {% get_navigation_class navIter currentPagination %}">
        {{ navIter }}</a>
      {% endfor %}
      {% comment %} <span
        class="inline-flex items-center border-t-2 px-4 pt-4 text-sm font-medium border-transparent text-gray-500">...</span>
      {% endcomment %}
    </div>
    <div class="-mt-px flex w-0 flex-1 justify-end">
      {% if currentPagination < maxPagination %} <a onclick="change_page('{{ currentPagination }}', 1, {'show_tab': 'accessList'})"
        class="inline-flex items-center border-t-2 border-transparent pt-4 pl-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
        Next
        <svg class="ml-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
          fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd"
            d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"
            clip-rule="evenodd" />
        </svg>
        </a>
        {% endif %}
    </div>
  </nav>
  {% endif %}
</div>
{% include "EnigmaOps/shared/notificationTemplate.html" %}
{% endblock %}
