{% extends 'global_layout.html' %}
{% load static %}

{% block head_body %}
<script src={% static "js/addUserToGroup.js" %}></script>
{% endblock %}

{% block nav_breadcrumb %}
<nav class="flex px-8 py-6 flex-shrink-0" aria-label="Breadcrumb">
  <ol role="list" class="flex items-center space-x-4">
    <li>
      <div>
        <a href="{% url 'dashboard' %}" class="text-gray-400 hover:text-gray-500">
          <svg class="h-5 w-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Home</span>
        </a>
      </div>
    </li>

    <li>
      <div class="flex items-center">
        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
        </svg>
        <a href="{% url 'groupDashboard' %}" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Groups</a>
      </div>
    </li>

    <li>
      <div class="flex items-center">
        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
        </svg>
        <a href="{% url 'addUserToGroup' groupName %}" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Add members to group</a>
      </div>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content_body %}
<div class="px-4 sm:px-6 lg:px-8 h-5/6 w-full">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 id="groupNameHeading" class="text-2xl font-bold text-gray-900" groupName="{{ groupName }}">{{ groupName }}</h1>
    </div>
  </div>

  <div class="pt-5">
    <div class="rounded-md bg-blue-50 p-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-blue-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3 flex-1 md:flex md:justify-between">
          <p class="text-sm font-medium text-blue-700">Adding a user here means you acknowledge that user has completed product onboarding successfully</p>
        </div>
      </div>
    </div>
    <div class="rounded-md bg-blue-50 p-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-blue-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3 flex-1 md:flex md:justify-between">
          <p class="text-sm font-medium text-blue-700">Note - If the user is not shown in list, please ask the user to login to enigma once.</p>
        </div>
      </div>
    </div>
  </div>

  <h1 class="pt-8 text-sm leading-5 font-medium text-gray-900">Add members</h1>
  <div class="grid grid-cols-2 gap-4">
    <div class="flex-col">
      <div class="mt-2 flex flex-col">
        <div class="flex flex-row">
          <div class="flex-auto relative flex items-center">
            <input type="text" name="adduserSearch" id="addUserSearch" class="block w-full rounded-md border-gray-300 pr-12 shadow-sm focus:border-blue-600 focus:ring-blue-600 sm:text-sm" placeholder="Search by name or email ID" onkeydown="addUserSearch(event, this, '{{ groupName }}')">
            <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5">
              <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" class="text-gray-500 h-full" width="18px" fill="currentColor" aria-hidden="true">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
              </svg>
            </div>
          </div>

          <div class="flex-none flex">
            <input type="checkbox" onclick="selectAllUserToggle(this)" name="select-all-user" id="selectAllUsers" class="ml-4 mr-2 mt-2 px-1 py-1 top-1/2 h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-600 sm:left-6">
            <label class="ml-1 mr-3 mt-1 mb-2 text-base leading-6 font-normal text-gray-900">Select all</label>
          </div>
        </div>

        <div class="px-4 sm:px-6 lg:px-8">
          <div class="mt-7 flex h-72 flex-col">
            <div id="user-scroll-bar" class="flex-1 bg-white overflow-x-auto sm:-mx-6 lg:-mx-8 rounded-md ring-1 ring-gray-200">
              <div class="inline-block min-w-full align-middle space-y-1">
                <div class="relative overflow-y-auto">
                  <table class="min-w-full table-fixed divide-gray-300">
                    <tbody id="user-table" class="divide-gray-200 bg-white">

                    </tbody>
                  </table>
                  <nav id="user-list-nav"
                     class="hidden flex flex-shrink-0 px-4 items-center rounded-b-lg justify-between align-bottom border-t border-gray-200 bg-white pt-3 pb-3 sticky">
                     <button type="button" id="prev_page"
                       class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 sticky">
                       <svg xmlns="http://www.w3.org/2000/svg" class="rotate-180 fill-gray-400 mr-4" height="20" viewBox="0 -960 960 960" width="20">
                         <path d="m691-265-68-67 100-100H103v-94h621L623-626l67-67 214 214-213 214Z"/>
                       </svg>
                       Previous
                     </button>
                     <button type="button" id="next_page"
                       class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 sticky">
                       Next
                       <svg xmlns="http://www.w3.org/2000/svg" class="fill-gray-400 ml-4" height="20" viewBox="0 -960 960 960" width="20">
                         <path d="m691-265-68-67 100-100H103v-94h621L623-626l67-67 214 214-213 214Z"/>
                       </svg>
                     </button>
                   </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 flex flex-col">
      <div class="mb-7 flex flex-row items-center">
        <h1 class="text-lg leading-7 font-medium text-gray-900">All group members</h1>
        <span class="inline-flex items-center rounded-full bg-green-100 ml-4 px-2.5 py-0.5 text-xs font-medium text-green-800 hidden" id="user-selected-count">0 new selected</span>
      </div>
      <div class="h-72 w-full bg-white flex flex-col justify-center md:flex-col rounded-md md:flex ring-1 ring-gray-200" id="user-selection-list">
        <div class="flex-1 relative overflow-y-auto space-y-1 inline-block rounded-md min-w-full align-middle">
          <table class="min-w-full table-fixed rounded-md divide-gray-300">
            <tbody class="divide-gray-200 bg-white" id="user-selection-table">

            </tbody>
          </table>
        </div>
        <nav class="flex flex-shrink-0 px-4 items-center justify-between align-bottom border-t border-gray-200 pt-2 pb-2 hidden">
          <button type="button" class="inline-flex items-center rounded-md border border-transparent bg-blue-100 px-4 py-2 text-base font-medium text-blue-700 shadow-sm hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2" onclick="removeAllUsers();">
            Remove all new
          </button>
        </nav>
      </div>
    </div>
  </div>
  <table class="hidden">
    <tr id="user-selection-row-template" class="hidden max-h-4 px-6 hover:bg-blue-50 hover:text-blue-700">
      <td class="relative w-full px-4 text-sm leading-5 font-medium" id="user-selection-row-tabledesc">User</td>
      <td class="whitespace-nowrap px-4 py-4 text-sm font-medium text-gray-900 justify-right content-right max-w-2" id="user-selection-row-cancel">
        <button type="button" class="ml-0.5 mr-0.5 inline-flex max-w-2 flex-shrink-0 items-center justify-center rounded-full text-blue-400 hover:bg-blue-200 hover:text-blue-500 focus:bg-blue-500 focus:text-white focus:outline-none" onclick="removeUserSelectionUI(this);">
          <span class="sr-only">Remove large option</span>
          <svg class="h-2 w-2" stroke="currentColor" fill="none" viewBox="0 0 8 8">
            <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7" />
          </svg>
        </button>
      </td>
    </tr>
  </table>
</div>
<div class="px-4 sm:px-6 lg:px-8 h-1/6 w-full">
  <form  action="{% url 'addUserToGroup' groupName %}" onsubmit="submitRequest(event, this)" method="post">
    {% csrf_token %}
    <input type="text" class="hidden" name="groupName" value="{{ groupName }}">
    <input type="hidden" id="selected-users" value="" name="selectedUserList", required>
    <div class="pt-6">
      <label for="reason" class="block text-sm font-medium leading-5 text-gray-700">Reason for Access</label>
      <div class="mt-1">
        <input type="text" name="memberReason" id="reason" class="block w-5/6 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Please mention the reason for add new members to this group in detail" required>
      </div>
    </div>
    <button type="submit" class="my-6 rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2">Submit request</button>
  </form>
</div>

<div id="redirect_to_dashboard" class="hidden">
  {% include "EnigmaOps/shared/redirect_to_dashboard.html" %}
</div>

{% include "EnigmaOps/shared/notificationTemplate.html" %}

{% endblock %}
