{% extends 'global_layout.html' %}
{% load static %}

{% block content_body %}

<!-- <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script> -->

<script src="{% static "js/multiselect.min.js" %}"></script>

<link rel="stylesheet" type="text/css" href="{% static "lib/google-code-prettify/prettify.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/multiselect.css" %}">

<link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}">

<script type="text/javascript">
  jQuery(document).ready(function($) {
      $('#search-user').multiselect({
          search: {
              left: '<input type="text" class="form-control" placeholder="Search..." />',
              right: '<input type="text" class="form-control" placeholder="Search..." />',
          },
          fireSearch: function(value) {
              return value.length > 1;
          }
      });
  });
  // $(document).ready(function(){
  //   $('#git-access').formSelect();
  // });
</script>
        <!-- Horizontal Form -->
<div class="accessForms">
  <form class="form-horizontal" action="{% url 'createNewGroup' %}" method="post" id="usrform" name="usrform">
    {% csrf_token %}
    <div class="page-header">
      <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Define your Group</h2>
      </div>
    </div>
    <div class="form-group" style="padding-left:1%;">
      <label for="newGroupName" style="padding-left:15px; font-weight: bolder; min-height:0px; margin-top:10px; font-size:medium;">Name for Group:</label>
      <input type="text" pattern="[A-Za-z0-9][A-Za-z0-9-]{2,}" placeholder="Minimum 3 chars with no spaces and special chars - hyphens allowed. e.g. engineering-managers,team-engineering" class="form-text1" id="newGroupName" name="newGroupName" style="width:60%;" required maxlength="2024">
    </div>
      <div class="row">
        <div class="col-xs-5 col-md-5">
          <select id="search-user" class="form-control" size="8" multiple="multiple">
            {% for user in users %}
              {% if request.user.email != user.email %}
                {% if user.state == '1' %}
                  <option value="{{user.email}}">{{user.user.first_name}} {{user.user.last_name}} {{user.email}}</option>
                {% endif %}
              {% endif %}
            {%endfor%}
          </select>
        </div>

        <div class="col-xs-2 col-md-2" style="margin-top:1%;">
          <button type="button" id="search-user_rightAll" class="btn btn-block btn-primary" disabled><i class="fa fa-angle-double-right" style="font-size:24px"></i></button>
          <button type="button" id="search-user_rightSelected" class="btn btn-block btn-primary"><i class="fa fa-angle-right" style="font-size:24px"></i></button>
          <button type="button" id="search-user_leftSelected" class="btn btn-block btn-primary"><i class="fa fa-angle-left" style="font-size:24px"></i></button>
          <button type="button" id="search-user_leftAll" class="btn btn-block btn-primary" disabled><i class="fa fa-angle-double-left" style="font-size:24px"></i></button>
        </div>

        <div class="col-xs-5 col-md-5">
          <select name="selectedUserList" id="search-user_to" class="form-control required" size="8" multiple="multiple">
          </select>
        </div>
      </div>

      <div class="form-group" style="padding-left:1%;">
        <label for="newGroupReason" style="padding-left:15px; font-weight: bolder; min-height:0px; margin-top:10px; font-size:medium;">Reason for Group:</label>
        <input type="text" class="form-text1" id="newGroupReason" name="newGroupReason" style="width:60%;" required maxlength="2024">
      </div>

      <div class="form-check" style="padding-left:2%;">
        <label class="form-check-label form-text1">
          <input class="form-check-input" id="requiresAccessApprove" name="requiresAccessApprove" type="checkbox" value="true" checked="">
          Needs premission from access_approve to add new users to group
        </label>
      </div>

      <input type="hidden" name="requester" value="{{request.user}}">

      <br>
      <div class="form-group" style="padding-left:1%;">
        <button type="submit" class="btn btn-primary" style="margin: auto; margin-left: 15px;">Submit Request</button>
      </div>

  </form>

</div>

{% endblock %}
