{% extends 'global_layout.html' %}
{% load static %}

{% block content_body %}
<!-- Content Wrapper. Contains page content -->

<!-- <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script> -->

<script src="{% static "js/multiselect.min.js" %}"></script>
<script src="{% static "js/jquery-ui.min.js" %}"></script>

<link rel="stylesheet" type="text/css" href="{% static "lib/google-code-prettify/prettify.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/multiselect.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "files/css/custom.css" %}">



<div class="wrapper">
  <!-- Horizontal Form -->
  <div class="accessForms">
    <form class="form-horizontal" action="{% url 'groupRequestAccess' %}" method="POST" id="usrform" name="usrform">
      {% csrf_token %}
      {% if genericForm %}
        {% for each_access in accesses %}
          {% with each_access.accessRequestPath as includePath %}
            {% include includePath %}
          {% endwith %}
          <input type="hidden" name="requestUser" value="{{ request.user }}">
          <input type="hidden" name="accessType" value="{{ each_access.accessTag }}"><br>
          <input type="hidden" name="accessRequests" value="{{ each_access.accessTag }}">
          <br>
        {% endfor %}
      {% endif %}

      <input type="hidden" name="groupName" value="{{groupName}}">
      <input type="hidden" name="requester" value="{{request.user.email}}">
      <br>
      <div id="suggestions" style="margin: auto; margin-left: 15px;"></div>
      <div class="form-group" style="padding-left:1%;">
        <button type="submit" class="btn btn-primary" style="margin: auto; margin-left: 15px;">Request Access</button>
      </div>

    </form>

  </div>
  <!-- /.box -->
</div>

<!-- /.content-wrapper -->
{% endblock %}
