{% load navbar_css_helpers %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Enigma</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="shortcut icon" type="image/x-icon" href={% static "favicon.ico" %}>

    <link rel="stylesheet" href={% static "css/global_layout.css" %}>

    <script src={% static "js/tailwind.js" %}></script>
    <script src={% static "js/jquery-3.6.3.min.js" %}></script>
    {% block head_body %}
    {% endblock %}
  </head>

  <body class="h-full">
    <div class="fixed inset-y-0 flex w-64 flex-col cust-left-nav-panel flex-1">
      <div class="cust-leading-content md:fixed md:inset-y-0 md:flex md:w-64 md:flex-col flex-1">
        <div class="cust-nav-logo">
          <div class="cust-logo">
            <img class="cust-logo-svg" src="{% static "images/global_layout/logo_mark.svg" %}"></img>
            <div class="cust-logo-text">enigma</div>
          </div>
        </div>

        <nav class="space-y-1 cust-nav-tabs flex-1" aria-label="Sidebar">
          <a href="/" class="{% ahref_class_for_path "Dashboard" request.path %} group flex items-center px-3 py-2 text-sm font-medium rounded-md cust-each-nav-tab" aria-current={% ahref_ariacurrent "Dashboard" request.path %}">
            <svg class="{% svg_class_for_path "Dashboard" request.path %} flex-shrink-0 -ml-1 mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>
            <span class="truncate">Dashboard</span>
          </a>

          <a href="{% url 'pendingRequests' %}" class="{% ahref_class_for_path "PendingActions" request.path %} group flex items-center px-3 py-2 text-sm font-medium rounded-md cust-each-nav-tab" aria-current={% ahref_ariacurrent "PendingActions" request.path %}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="{% svg_class_for_path "PendingActions" request.path %} flex-shrink-0 -ml-1 mr-3 h-6 w-6" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
            </svg>
            <span class="truncate">Pending Actions</span>

            <span class="{% count_class_for_path "PendingActions" request.path %} ml-auto inline-block py-0.5 px-3 text-xs rounded-full">{{ pendingActionsCount }}</span>
          </a>

          <a href="{% url 'showAccessHistory' %}" class="{% ahref_class_for_path "Access" request.path %} group flex items-center px-3 py-2 text-sm font-medium rounded-md cust-each-nav-tab" aria-current={% ahref_ariacurrent "Access" request.path %}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="{% svg_class_for_path "Access" request.path %} flex-shrink-0 -ml-1 mr-3 h-6 w-6" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
            </svg>
            <span class="truncate">Access</span>

            <span class="{% count_class_for_path "Access" request.path %} ml-auto inline-block py-0.5 px-3 text-xs rounded-full">{{ totalAccessCount }}</span>
          </a>

          <a href="{% url 'groupDashboard' %}" class="{% ahref_class_for_path "Groups" request.path %} group flex items-center px-3 py-2 text-sm font-medium rounded-md cust-each-nav-tab" aria-current={% ahref_ariacurrent "Groups" request.path %}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="{% svg_class_for_path "Groups" request.path %} flex-shrink-0 -ml-1 mr-3 h-6 w-6" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
            </svg>
            <span class="truncate">Groups</span>

            <span class="{% count_class_for_path "Groups" request.path %} ml-auto inline-block py-0.5 px-3 text-xs rounded-full">{{ groupsMemberFor }}</span>
          </a>

        </nav>
        <div class="cust-nav-profile flex-shrink-0">
          <div class="cust-profile-border"></div>
          <div class="cust-profile-content text-ellipses w-64">
            <div class="cust-profile-avatar">
              <div class="cust-avatar">{{ currentUser.name | make_list | first }}</div>
              <div class="cust-avatar-name">
                <div class="cust-avatar-name-title">{{ currentUser.name }}</div>
                <div class="cust-avatar-name-support hover:text-black"><a href="{% url 'updateUserInfo' %}">View Profile</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-breadcrumb">
    {% block nav_breadcrumb %}
    {% endblock %}
    </div>
    <div class="content-body inset-y-0 flex flex-col cust-left-nav-panel flex-1 inset-w-0 bg-gray-50 overflow-y-scroll overflow-x-clip">
    {% block content_body %}
    {% endblock %}
    </div>
  </body>
</html>
