{% extends 'global_layout.html' %}
{% load static %}


{% block nav_breadcrumb %}
<nav class="flex px-8 py-6 flex-shrink-0" aria-label="Breadcrumb">
  <ol role="list" class="flex items-center space-x-4">
    <li>
      <div>
        <a href="{% url 'dashboard' %}" class="text-gray-400 hover:text-gray-500">
          <svg class="h-5 w-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Home</span>
        </a>
      </div>
    </li>

    <li>
      <div class="flex items-center">
        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
        </svg>
        <span class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">My Profile</span>
      </div>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content_body %}
  <!-- Content Wrapper. Contains page content -->
<div class="px-4 sm:px-6 lg:px-8 w-full">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">Profile details</h1>
    </div>
  </div>
</div>

  <div class="px-4 py-7 sm:px-6 lg:px-8 w-full">
    {% for module in configured_identity_template %}
    <section class="content">
      <!-- Horizontal Form -->
      <div class="box box-danger">
        <form class="form-horizontal" action="create_post" method="post" id="config_usrform{{ forloop.counter }}" name="usrform">
            {% csrf_token %}
          <div class="page-header mx-3">
              <div style="color: red;" id="error-msg">
              </div>
              <div style="color: green;" id="success-msg">
              </div>
              {% with module.accessUserTemplatePath as includePath %}
                {% include includePath %}
              {% endwith %}
            <div class="form-group">
                <button id="update_identity" onclick = "form_post('config_usrform{{ forloop.counter }}', 'update')" type="submit" value="update" name="state" class="btn btn-primary" style="border: none;color: white;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;">Update</button>
              </div>
          </div>
        </form>
      </div>
    </section>
    {% endfor %}
    {% for module in unconfigured_identity_template %}
    <section class="content">
      <!-- Horizontal Form -->
      <div class="box box-danger">
        <form class="form-horizontal" action="create_post" method="post" id="unconfig_usrform{{ forloop.counter }}" name="usrform">
            {% csrf_token %}
          <div class="page-header mx-3">
              <div style="color: red;" id="error-msg">
              </div>
              <div style="color: green;" id="success-msg">
              </div>
              {% with module.accessUserTemplatePath as includePath %}
                {% include includePath %}
              {% endwith %}
            <div class="form-group">
                <button id="update_identity" onclick = "form_post('unconfig_usrform{{ forloop.counter }}', 'update')" type="submit" value="update" name="state" class="btn btn-primary" style="border: none;color: white;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;">Update</button>
              </div>
          </div>
        </form>
      </div>
    </section>
    {% endfor %}
  </div>

  <script id="js">
    function form_post(formId, action) {
      if (action == 'update'){
        create_post(formId)
      }
      event.preventDefault();
    }

    function create_post(formId) {
      modName = $('#' + formId + " input[name='modname']").val()
      $('#' + formId).find('#error-msg').text("")
      $('#' + formId).find('#success-msg').text("")
      error_message = "There was an error in updating User Identity for module " + modName + ". Please contact Admin"
      $.ajax({
          url : "{% url 'saveIdentity' %}/", // the endpoint
          type : "POST", // http method
          data : $('#' + formId).serialize(),

          // handle a successful response
          success : function(json, textStatus, jqXHR) {
              if (jqXHR.status == 200){
                var msg = jQuery.parseJSON(json);
                modName = $('#' + formId + " input[name='modname']").val()
                $('#' + formId).find('#success-msg').text(msg.status.msg)
              }
              else {
                modName = $('#' + formId + " input[name='modname']").val()
                $('#' + formId).find('#error-msg').text("Error: Identity for " + modName + " could not saved.")
              }
          },

          // handle a non-successful response
          error : function(jqXHR, status, err) {
            errorObj = JSON.parse(jqXHR.responseJSON);
            modName = $('#' + formId + " input[name='modname']").val()
            $('#' + formId).find('#error-msg').text(errorObj.error.msg)
          }
      });
    };
  </script>
  <!-- /.content-wrapper -->
{% endblock %}
