{% load myaccess_css_helpers %}
{% load static %}

{% block head_body %}
<script src={% static "js/showAccessHistory.js" %}></script>
{% endblock %}

{% block content_body %}
<div id="genericAcceses" class="mt-8 px-4 sm:px-6 lg:px-8 w-full">
  {% if genericAccesses %}
  <div class="flex flex-col gap-4">
    <div class="flex flex-row gap-4 items-center">
      <div>
        <form class="w-96 relative">
          <div class="box-border shadow-sm rounded-md border border-gray-300 border-solid">
            <input id="global-search" type="search"
              class="flex-none rounded-md border-none text-gray-500 text-sm font-normal px-4 py-2 min-w-full"
              placeholder="Search by module name, access type or status" required>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
              <svg aria-hidden="true" class="w-5 h-5 text-gray-400" fill="currentColor"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
          </div>
        </form>
      </div>

      <div class="w-1/6 relative" onclick="focusGroupFilter(this);">
        <button type="button"
          class="min-w-full cursor-default rounded-md border
                                            border-gray-300 bg-white px-4 py-2 text-left shadow-sm focus:border-blue-500
                                            focus:outline-none focus:ring-1 focus:ring-blue-500 sm:text-sm"
          aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
          <span class="block truncate text-gray-500">Access Type</span>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24" fill="#000000" aria-hidden="true">
              <path d="M0 0h24v24H0z" fill="none" />
              <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" clip-rule="evenodd" />
            </svg>
          </div>
        </button>

        <form action="{% url 'groupAccessList' groupName %}" method="post" enctype="multipart/form-data">
          <ul
            class="hidden absolute z-10 mt-1 max-h-60 rounded-md bg-white py-1 text-base shadow-lg ring-1
                   ring-black ring-opacity-5 focus:outline-none sm:text-sm"
            tabindex="-1" role="listbox" aria-labelledby="listbox-label"
            aria-activedescendant="listbox-option-3">
            {% for filter in accessTypeFilter %}
              {% csrf_token %}
              <button type="submit" class="btn w-full">
                <li
                  class="block text-gray-900 relative cursor-default select-none px-4 py-2 hover:bg-gray-200 hover:text-black"
                  id="listbox-option-0" role="option" onclick="selectLI(this);">
                  <span class="text-blue-600 absolute inset-y-0 flex items-center pr-4">
                    <input type="checkbox" class="rounded" id="access_type_filter" name="access_type_filter"
                      value="{{ filter }}" {% if access_type_filter %}checked{% endif %}>
                  </span>
                  <span class="font-normal block truncate ml-6">{{ filter }}</span>
                </li>
              </button>
            {% endfor %}
          </ul>
        </form>

      </div>

      <div class="w-1/6 relative" onclick="focusFilterStatus(this);">
        <button type="button"
          class="min-w-full cursor-default rounded-md border
                                            border-gray-300 bg-white px-4 py-2 text-left shadow-sm focus:border-blue-500
                                            focus:outline-none focus:ring-1 focus:ring-blue-500 sm:text-sm"
          aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
          <span class="block truncate text-gray-500">Status</span>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24" fill="#000000" aria-hidden="true">
              <path d="M0 0h24v24H0z" fill="none" />
              <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" clip-rule="evenodd" />
            </svg>
          </div>
        </button>

        <ul
          class="hidden absolute z-10 mt-1 max-h-60 rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
          tabindex="-1" role="listbox" aria-labelledby="listbox-label"
          aria-activedescendant="listbox-option-3">
          {% for filter in statusFilter %}
          <li
            class="text-gray-900 relative cursor-default select-none px-4 py-2 hover:bg-gray-200 hover:text-black"
            id="listbox-option-0" role="option" onclick="selectLI(this);">
            <span class="text-blue-600 absolute inset-y-0 flex items-center pr-4">
              <input type="checkbox" class="rounded" id="group_approved" name="group_approved"
                value="group_approved">
            </span>

            <span class="font-normal block truncate ml-6">{{ filter }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="sm:ml-auto sm:flex-none">
        <a href="{% url 'groupRequestAccess' %}" class="text-blue-600 hover:text-blue-900">
          <button type="button"
            class="inline-flex items-center justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:w-auto">
            Request Access
          </button>
        </a>
      </div>
    </div>
  </div>

  <div class="mt-4 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col"
                  class="py-3.5 pl-4 pr-3 text-left text-xs font-medium text-gray-500 sm:pl-6 uppercase w-2/12">
                  Module</th>
                <th scope="col"
                  class="px-3 py-3.5 text-left text-xs font-medium text-gray-500 uppercase w-2/12">
                  Status</th>
                <th scope="col"
                  class="px-3 py-3.5 text-left text-xs font-medium text-gray-500 uppercase w-2/12 max-w-md">
                  Type of Access</th>
                <th scope="col"
                  class="px-3 py-3.5 text-left text-xs font-medium text-gray-500 uppercase w-3/12">
                  Access Category</th>
                <th scope="col"
                  class="px-3 py-3.5 text-left text-xs font-medium text-gray-500 uppercase w-2/12">
                  Action</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              {% for eachAccess in genericAccesses %}
              <tr>
                <td class="whitespace-nowrap px-3 py-4 text-sm">
                  <div class="text-gray-900 font-medium">{{ eachAccess.module }}</div>
                  <div class="text-gray-400 font-normal">{{ eachAccess.requestId }}</div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm font-normal text-gray-500">
                  {% access_status_content eachAccess.status|safe %}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm font-normal text-gray-500">
                  {{ eachAccess.accessType }}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm font-normal text-gray-500">
                  {{ eachAccess.accessCategory }}
                </td>
                <td id="inactive-{{ eachAccess.requestId }}-revoke-button"
                  class="whitespace-nowrap px-3 py-4 text-sm font-normal text-gray-500">
                  {% if user.is_owner %}
                  <button class="btn btn-danger inactive-access-button"
                    id="inactive-{{ eachAccess.requestId }}">Mark Inactive</button><br>(Existing
                  accesses are not revoked)<br><br>
                  {% endif %}

                  {% if allowRevoke and eachAccess.status == 'Approved' %}
                  <button type="button"
                    class="inline-flex items-center justify-center rounded-md border border-transparent bg-blue-100 px-4 py-2 text-sm font-medium text-blue-700 shadow-sm hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 sm:w-auto">
                    Mark Revoked
                  </button>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="mt-8 w-full box-border rounded-md border border-gray-200 bg-white">
    <div class="flex h-64 justify-center items-center">
      <div class="flex flex-col place-items-center gap-2">
        <div class="flex flex-row text-gray-400 hover:text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 0 24 24" width="40px"
            fill="currentColor">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
          </svg>
        </div>
        <div>
          <h1 class="text-sm font-medium text-gray-900">No Module</h1>
        </div>
        <div>
          <h1 class="text-sm font-normal text-gray-700">No module added to this group. Request module access to get started.</h1>
        </div>
        <div class="mt-6 place-items-center">
          <a href="{% url 'groupRequestAccess' %}">
            <button type="button" class="box-border border border-gray-300
                                         px-4 py-2 text-sm font-medium shadow-sm rounded-md
                                         sm:w-auto">
              Request Access
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <nav class="mt-8 flex items-center justify-between border-t border-gray-200 sm:px-0 pt-6 px-4 sm:px-6 lg:px-8 pb-6 w-full">
    <div class="-mt-px flex w-0 flex-1">
      {% if currentPagination > 1 %}
      <a href="?page={{ currentPagination|add:" -1" }}"
        class="inline-flex items-center border-t-2 border-transparent pt-4 pr-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
        <svg class="mr-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
          fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd"
            d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z"
            clip-rule="evenodd" />
        </svg>
        Previous
      </a>
      {% endif %}
    </div>

    <div class="hidden md:-mt-px md:flex">
      {% for navIter in allPages %}
      <a href="?page={{ navIter }}"
        class="inline-flex items-center border-t-2 px-4 pt-4 text-sm font-medium {% get_navigation_class navIter currentPagination %}">
        {{ navIter }}</a>
      {% endfor %}
      {% comment %} <span
        class="inline-flex items-center border-t-2 px-4 pt-4 text-sm font-medium border-transparent text-gray-500">...</span>
      {% endcomment %}
    </div>
    <div class="-mt-px flex w-0 flex-1 justify-end">
      {% if currentPagination < maxPagination %} <a href="?page={{ currentPagination|add:" 1" }}"
        class="inline-flex items-center border-t-2 border-transparent pt-4 pl-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
        Next
        <svg class="ml-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
          fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd"
            d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"
            clip-rule="evenodd" />
        </svg>
        </a>
        {% endif %}
    </div>
  </nav>
</div>
{% endblock %}
