name: Unit Tests and Lint
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install -r requirements.txt
    - name: Ensure Config
      run: cp config.json.sample config.json
    - name: Setup access modules code base
      run: python -m scripts.clone_access_modules
    - name: Ensure access modules dependencies
      run: |
        pip install -r Access/access_modules/requirements.txt --no-cache-dir --ignore-installed
    - name: Lint code base
      run: python -m pylama Access/accessrequest_helper.py scripts
    - name: Test with pytest
      run: python -m pytest -v --cov --disable-warnings
